{{#> supdfgen/partials/base}}
    <div class="mainContent">
        <h3>Varsel om at vurdering av din supplerende stønad er blitt avsluttet</h3>
        {{> supdfgen/partials/fnr personalia }}

        <p>Vi har vurdert saken din og vi krever ikke tilbake din supplerende stønad.</p>

        <p class="fritekst">{{fritekst}}</p>

        {{> supdfgen/partials/hilsen saksbehandler=saksbehandlerNavn }}
    </div>
{{/supdfgen/partials/base}}