{{#> supdfgen/partials/avslagBase}}
    <div class="mainContent">
        <h2>NAV har avvist klagen din</h2>
        <div>
            Fødselsnummer: {{personalia.fødselsnummer}}
        </div>

        <p>Vi har avvist klagen din fordi</p>
        <div class="fritekst">{{fritekst}}</div>

    </div>
{{/supdfgen/partials/avslagBase}}

