{{#> supdfgen/partials/base}}
    <div class="mainContent">
        <h3>Søknaden din om supplerende stønad er avvist</h3>
        {{> supdfgen/partials/fnr personalia }}

        <p class="fritekst">{{fritekst}}</p>

    {{> supdfgen/partials/hilsen saksbehandler=saksbehandlerNavn }}
    </div>

{{/supdfgen/partials/base}}