{{#> supdfgen/partials/avslagBase}}
    <div class="mainContent">
        <h3>Vi har avslått søknaden din om supplerende stønad</h3>
        {{> supdfgen/partials/fnr personalia }}

        <p class="fritekst">{{fritekst}}</p>
    </div>
{{/supdfgen/partials/avslagBase}}