{{#> supdfgen/partials/avslagBase}}
    <div class="mainContent">
        <h2>Nav har avvist klagen din</h2>
        <div>
            Fødselsnummer: {{personalia.fødselsnummer}}
        </div>
        <div class="fritekst">{{fritekst}}</div>

    </div>
{{/supdfgen/partials/avslagBase}}

