{{#> supdfgen/partials/base}}
    <div class="mainContent">
        <h3>{{tittel}}</h3>
        <p>{{fritekst}}</p>
        <p>
            Med vennlig hilsen <br/>
            {{#if saksbehandlerNavn}}{{saksbehandlerNavn}} hos {{/if}}NAV Familie- og pensjonsytelser Ålesund<br/>
            <br />
            Postadresse:<br />
            NAV Familie- og pensjonsytelser Ålesund<br />
            Postboks 6600 Etterstad<br />
            0607 OSLO
        </p>
    </div>

{{/supdfgen/partials/base}}