{{#> supdfgen/partials/avslagBase}}
    <div class="mainContent">
        <h3>Søknaden din om supplerende stønad er avvist</h3>

        <p class="fritekst">{{fritekst}}</p>
    </div>
{{/supdfgen/partials/avslagBase}}