{{#> supdfgen/partials/base}}
    <div class="mainContent">
        <h3>Supplerende stønad ufør flyktning – innkalling til samtale</h3>
        {{> supdfgen/partials/fnr personalia }}

        <p>
            I forbindelse med saken din ønsker vi en samtale med deg på NAV-kontoret. Koronasituasjonen er bedret og samfunnet har begynt å åpne opp igjen.
            Koronaunntakene avvikles. Du må derfor møte personlig på NAV-kontoret.
        </p>

        <p>
            Du må møte snarest og senest innen 3 uker fra du får dette brevet.
        </p>

        <p>
            Du ringer NAV Kontaktsenter på 55 55 33 33 for å avtale tidspunkt for et møte. Hvis du trenger tolk, må du ta kontakt snarest,
            slik at NAV-kontoret kan innkalle tolk til samtalen. Hvis NAV-kontoret tidligere har sagt at du kan møte opp uten timeavtale, kan du forholde deg til det.
        </p>

        <p>
            Dersom du ikke møter eller tar kontakt med oss, vil din supplerende stønad bli stanset, jf. paragrafene 18 og 21 i lov om supplerende stønad til personer med kort botid i Norge.
        </p>

        <p>
            Du får ikke ny melding dersom stønaden din stanses.
        </p>

        Du må ha med følgende dokumentasjon:
        <ul>
            <li>Alle gyldige pass.</li>
            <li>Dokumentasjon på ut- og hjemreise dersom du har vært i utlandet i løpet av de fire siste månedene.</li>
            <li>Siste utskrift av grunnlag for skatt eller siste skattemelding, hvis den er nyere enn den du har levert tidligere.
                Hvis du har ektefelle, partner eller samboer, må du ta med samme dokumentasjon for dere begge.</li>
        </ul>

        {{> supdfgen/partials/hilsen }}
    </div>

{{/supdfgen/partials/base}}