{{#> supdfgen/partials/base}}
    <div class="mainContent">
        <h3>Du må bestille time for kontrollsamtale hos Nav</h3>
        {{> supdfgen/partials/fnr personalia }}

        <p>
            Alle som får supplerende stønad, må komme på kontrollsamtale hos Nav to ganger i året.
            Du må selv ringe til oss og bestille time. Fristen er 3 uker fra du får dette brevet.
            Hvis du ikke tar kontakt med oss, stopper stønaden (se lov om supplerende stønad § 18 og 21).
        </p>

        <div class="minorSpacedUl">
            <span class="boldedText">Dette må du gjøre</span>
            <br/>
            <span>Slik bestiller du time for møte:</span>
            <ul>
                <li class="listItem-minor-spaced">Ring til Nav på tlf. 55 55 33 33 for å bestille time.</li>
                <li class="listItem-minor-spaced">Du må ringe innen 3 uker, ellers stopper stønaden.</li>
                <li class="listItem-minor-spaced">Si fra til oss hvis du trenger tolk på møtet.</li>
            </ul>
        </div>

        <div>
            <span class="boldedText">Dette må du ha med deg</span>
            <br/>
            <span>Når du kommer til Nav-kontoret, må du ha med deg:</span>
            <ul>
                <li class="listItem-minor-spaced">Alle gyldige pass eller reisebevis. Har du gyldige pass fra flere
                    land, må du ta med alle.
                </li>
                <li class="listItem-minor-spaced">Dokumentasjon på ut- og hjemreise hvis du har vært i utlandet de fire
                    siste månedene.
                </li>
                <li class="listItem-minor-spaced">Dokumentasjon på alle norske og utenlandske inntekter, inkludert
                    pensjon som ikke utbetales av Nav,
                    både
                    for deg og eventuell ektefelle/samboer.
                </li>
                <li class="listItem-minor-spaced">Utskrift som viser saldo (hvor mye penger) du og eventuell
                    ektefelle/samboer har på konto.
                </li>
                <li class="listItem-minor-spaced">Den siste skattemeldingen, både for deg og eventuell
                    ektefelle/samboer, hvis du ikke har levert
                    dette
                    tidligere.
                </li>
            </ul>
        </div>

        {{> supdfgen/partials/hilsen ikkeVisPostadresse=true}}
    </div>

{{/supdfgen/partials/base}}