{{#> supdfgen/partials/avslagBase}}
    <div class="mainContent">
        <h3>Vedtak om opphør av supplerende stønad</h3>
        {{> supdfgen/partials/fnr personalia }}

        <p>Vi har opphørt fordi:</p>

        {{> supdfgen/partials/opphør opphørsgrunner=opphørsgrunner }}

        <p>
            Stønaden din blir derfor opphørt fra {{opphørsdato}}.
            {{#if avkortingsBeløp}}
                Du har fått {{currency_no avkortingsBeløp}} kr for mye. Ved innvilgelse av ny stønadsperiode blir
                utbetalingen redusert hver måned til beløpet er betalt tilbake.{{/if}}
        </p>

        <span>
            Vedtaket er gjort etter lov om supplerende stønad for personer med kort botid i Norge {{> supdfgen/partials/visAvslagsparagrafer avslagsparagrafer}}
            .
        </span>

        {{#if avkortingsBeløp}}
            <p>
                Du kan søke om ny stønadsperiode måneden etter at du har kommet tilbake til Norge. Hvis du ikke får
                innvilget ny stønadsperiode kan det feilutbetalte beløpet kreves tilbake etter lov om supplerende stønad
                til personer med kort botid i Norge, § 13.
            </p>
        {{/if}}

        <p class="fritekst">{{fritekst}}</p>

        {{#each opphørsgrunner}}
            {{#eq this "MANGLENDE_DOKUMENTASJON" }}
                <p>
                    Dersom du leverer denne dokumentasjonen innen seks uker, kan vi sette i gang igjen stønaden din hvis
                    vilkårene er oppfylte.
                </p>
            {{/eq}}
        {{/each}}

        {{#if beregningsperioder }}
            {{> supdfgen/partials/beregning beregningsperioder }}
        {{/if}}

    </div>
{{/supdfgen/partials/avslagBase}}