{{#> supdfgen/partials/avslagBase}}
    <div class="mainContent">
        <h3>Vedtak om opphør av supplerende stønad</h3>
        {{> supdfgen/partials/fnr personalia }}

        <p class="fritekst">{{fritekst}}</p>

        <p>Vi har opphørt fordi:</p>

        <ul>
            {{#each opphørsgrunner}}
                {{#eq this "UFØRHET"}}
                    <li>Du mister uføretrygd</li>
                {{/eq}}

                {{#eq this "FOR_HØY_INNTEKT"}}
                    {{#if harEktefelle}}
                        <li>Inntekten du og ektefellen/samboeren din har til sammen er for høy.</li>
                    {{else}}
                        <li>Du har for høy inntekt.</li>
                    {{/if}}
                {{/eq}}
                {{#eq this "SU_UNDER_MINSTEGRENSE" }}
                    <li>
                        Stønaden vi har beregnet til deg er for lav til at den kan utbetales.
                        Vi kan ikke utbetale stønad som er under to prosent av den høyeste stønadssatsen.
                    </li>
                {{/eq}}
            {{/each}}
        </ul>


        {{#if beregningsperioder }}
            {{> supdfgen/partials/beregning beregningsperioder }}
        {{/if}}

    </div>
{{/supdfgen/partials/avslagBase}}