{{#> supdfgen/partials/avslagBase}}
    <div class="mainContent">
        <h3>Vedtak om opphør av supplerende stønad</h3>
        {{> supdfgen/partials/fnr personalia }}

        {{#contains_all opphørsgrunner "FAMILIEGJENFORENING"}}
            <p>
                Vi har opphørt stønaden din fordi oppholdstillatelsen din ikke gir deg rett til supplerende stønad.
            </p>
        {{else}}
            <p>Vi har opphørt fordi:</p>

            {{> supdfgen/partials/opphør opphørsgrunner=opphørsgrunner }}

            <p>
                Stønaden din blir opphørt i perioden {{opphørsperiode.fraOgMed}}-{{opphørsperiode.tilOgMed}}.
            </p>

            <span>
            Vedtaket er gjort etter lov om supplerende stønad for personer
            med kort botid i Norge {{> supdfgen/partials/visAvslagsparagrafer avslagsparagrafer}}.
            </span>
        {{/contains_all}}

        <p class="fritekst">{{fritekst}}</p>

        {{#if beregningsperioder }}
            {{> supdfgen/partials/beregning beregningsperioder }}
        {{/if}}

    </div>
{{/supdfgen/partials/avslagBase}}