{{#> supdfgen/partials/avslagBase}}
    <div class="mainContent">
        <h3>Vedtak om opphør av supplerende stønad</h3>
        {{> supdfgen/partials/fnr personalia }}

        <p>Vi har opphørt fordi:</p>

        {{> supdfgen/partials/opphør opphørsgrunner=opphørsgrunner }}

        <p>
            Stønaden din blir opphørt i perioden {{opphørsperiode.fraOgMed}}-{{opphørsperiode.tilOgMed}}.
        </p>

        <span>
            Vedtaket er gjort etter lov om supplerende stønad for personer
            med kort botid i Norge {{> supdfgen/partials/visAvslagsparagrafer avslagsparagrafer}}.
        </span>

        <p class="fritekst">{{fritekst}}</p>

        {{#if beregningsperioder }}
            {{> supdfgen/partials/beregning beregningsperioder }}
        {{/if}}

    </div>
{{/supdfgen/partials/avslagBase}}