{{#> supdfgen/partials/base}}
    <div class="mainContent">
        <h2>Oversendelsesbrev KA</h2>
        <div class="preline">
            «KLAGEREN: {{personalia.fornavn}} {{personalia.etternavn}}, {{personalia.fødselsnummer}}
            KLAGEMOTPART: NAV Familie- og pensjonsytelser Ålesund
            KLAGEN GJELDER: SUPPLERENDE STØNAD
        </div>

        <p>Vi viser til vedlagte innstilling.</p>

        <p>Innstillingen og saksdokumentene oversendes herved for klagebehandling. Klager er orientert om forventet
            saksbehandlingstid i NAV Klageinstans.»</p>

        {{> supdfgen/partials/hilsen saksbehandler=saksbehandlerNavn }}
    </div>
    <div class="pagebreak"/>
    {{>supdfgen/partials/klageVurderingVedlegg }}
{{/supdfgen/partials/base}}
