{{#> supdfgen/partials/base}}
    <div class="mainContent">
        <h2>Informasjon om å søke ny periode</h2>

        <p>
            Stønadsperioden din går ut {{utløpsdato}} og du kan nå søke om ny stønadsperiode. Hvis du allerede har søkt, kan du se bort fra dette brevet.
        </p>

        <p>
            Du må møte personlig på ditt lokale NAV-kontor, for å fylle ut en digital søknad sammen med en veileder.
        </p>

        <p>
            Du kan ta kontakt for timebestilling på telefon 55 55 33 33. Si fra hvis du trenger tolk.
        </p>

        <p>
            Du må ha med følgende dokumentasjon:
        </p>
        <ul>
            <li>Gyldige pass eller reisebevis. Har du gyldige pass fra flere land, må du ta med alle.</li>
            <li>Siste skattemelding for deg, hvis denne ikke er levert tidligere. Hvis du har ektefelle/samboer/partner må du også levere deres siste skattemelding.</li>
            <li>Oppdatert dokumentasjon for all inntekt/pensjon som ikke utbetales av NAV, for deg og eventuell ektefelle/samboer/partner.</li>
            <li>Informasjon om innskudd i bank eller andre verdier over grensen; for tiden {{halvtGrunnbeløp}} kroner.</li>
        </ul>

        <h3>
            REGLENE FOR UTENLANDSOPPHOLD
        </h3>
        <p>
            Hvis du har vært i utlandet siden siste møte på NAV-kontoret, må du sende inn dokumentasjon på ut- og innreise.
        </p>
        <p>
            Du må før utreise melde fra om planlagt ut- og innreisedato for alle utenlandsopphold, og når du kommer tilbake til Norge må du dokumentere ut- og innreisedato. Du
            mister
            retten til stønaden hvis du oppholder deg i utlandet i mer enn 90 dager i sammenheng, eller i mer enn 90 dager til sammen i løpet av stønadsperioden.
        </p>

        <h3>
            NØDVENDIGE OG RIKTIGE OPPLYSNINGER OM DIN SITUASJON
        </h3>
        <p>
            Opplysningene du sender inn vil bli kontrollert når søknaden din blir behandlet. Dersom du gir uriktige opplysninger, eller holder tilbake opplysninger og det blir
            utbetalt
            stønad som du ikke har rett til, kan stønaden bli krevd tilbake.

            Vi gjør oppmerksom på at du må legge ved all nødvendig informasjon for å få innvilget søknaden.
        </p>

        <p>
            Vennlig hilsen
            NAV Familie- og pensjonsytelser Ålesund
        </p>
    </div>
{{/supdfgen/partials/base}}
