{{#> supdfgen/partials/avslagBase}}
    <div class="mainContent">
        <h2>Vi har vurdert den supplerende stønaden din på nytt</h2>

        <div class="info">
            <p class="fritekst">{{fritekst}}<p>
        </div>

        {{> supdfgen/partials/beregning beregningsperioder }}

    </div>

{{/supdfgen/partials/avslagBase}}