{{#> supdfgen/partials/avslagBase}}
    <div class="mainContent">
        <h2>Du må betale tilbake supplerende stønad</h2>
        {{> supdfgen/partials/fnr personalia }}

        <p>Du har fått for mye supplerende stønad utbetalt fra {{periodeStart}} til {{periodeSlutt}}.</p>

        <h3>Hvordan har vi kommet frem til dette</h3>
        <p class="fritekst">{{fritekst}}</p>
        <p>Vedtaket er gjort etter reglene i lov om supplerende stønad § 13.</p>

        <h3>Hvordan betale tilbake pengene du skylder</h3>
        <p>Du vil i løpet av 3-7 dager motta et krav med informasjon om hvordan du betaler tilbake det du skylder. Du finner mer informasjon på www.nav.no/innkreving.</p>

        {{> supdfgen/partials/tilbakekrevingTabell tilbakekreving=tilbakekreving prosentkolonne=true}}

    </div>

{{/supdfgen/partials/avslagBase}}