{{#> supdfgen/partials/base}}
    <div class="mainContent">
        <h2>Vi har sendt saken til NAV Klageinstans</h2>
        {{> supdfgen/partials/fnr personalia }}

        <p>Vi har vurdert klagen på vedtaket om refusjon av omsorgspenger, og kommet fram til at vedtaket ikke endres. NAV Klageinstans skal derfor vurdere saken på nytt.</p>

        <p>Saksbehandlingstiden er vanligvis under 12 uker.</p>

        <div class="info">
            <h3>Dette har vi lagt vekt på i vurderingen vår</h3>
            <p>Fordi saken er eller enn fet ‐ vurdert av NFP</p>
        </div>

        <div class="info">
            <h3>Plikt til å melde fra</h3>
            <p>
                Du har i tidligere vedtak blitt orientert om plikten din til å melde fra om endringer i forhold som kan ha betydning for retten til eller størrelsen på ytelsen din.
            </p>
        </div>

        {{> supdfgen/partials/hilsen saksbehandler=saksbehandlerNavn }}
    </div>

{{/supdfgen/partials/base}}
