{{#> supdfgen/partials/base}}
    <div class="mainContent">
        <h2>Vi har sendt saken til NAV Klageinstans</h2>
        {{> supdfgen/partials/fnr personalia }}
        <p>Vi viser til din klage av {{klageDato}} på vedtak av {{vedtakDato}}.</p>
        <p>Vi har vurdert klagen på vedtaket om supplerende stønad, og kommet fram til at
            vedtaket ikke endres. NAV Klageinstans skal derfor vurdere saken på nytt.</p>

        <p>Saksbehandlingstiden i NAV Klageinstans er vanligvis 12 uker</p>


        <h2>Dette har vi lagt vekt på vurderingen vår</h2>
        <p> {{fritekst}} </p>
        <p> hjemler: {{> supdfgen/partials/commaSeparate hjemler}}</p>

        <p>Du kan sende merknader og dokumentasjon til NAV Klageinstans. Du finner første side for innsending på
            nav.no/klage. Velg NAV Klageinstans.</p>

        <h2>Har du spørsmål?</h2>
        <p>Kontakt NAV Klageinstans på nav.no eller på telefon 21 07 17 30. Vi kan lettere gi deg rask og god hjelp
            hvis du oppgir fødselsnummeret ditt når du tar kontakt med NAV. </p>
    </div>
{{/supdfgen/partials/base}}

