<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="Supplerende Stønad"/>
    <meta name="author" content="su-pdfgen"/>
    <meta name="subject" content="Supplerende Stønad"/>
    <style>
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }

        @page {
            @bottom-right {
                font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
                font-size: 12px;
                content: "Side " counter(page) " av " counter(pages);
            }
        }

        body {
            page-break-inside: avoid;
        }

        .pagebreak {
            page-break-before: always;
        }

        table {
            width: 100%;
            border: 2px #c9c9c9 solid;
            padding-bottom: 0.8cm;
            margin-bottom: 0.7cm;
            border-collapse: collapse;
        }

        thead tr th, thead tr td {
            position: relative;
            padding: 0.3cm 0.5cm;
            border-bottom: 2px #c9c9c9 solid;
        }

        thead tr td h4 {
            font-size: 110%;
            font-weight: 500;
            display: inline;
        }

        thead td img, thead th img {
            position: relative;
            margin-right: 0.1cm;
            height: 0.5cm;
            width: 0.5cm;
        }

        tbody tr:last-child td {
            padding-bottom: 0.8cm;
        }

        tbody tr:first-child td {
            padding-top: 0.2cm;
        }

        td {
            font-size: 0.9em;
            vertical-align: top;
            word-wrap: break-word;
            padding: 0 0.3cm 0 0.5cm;
        }

        .tr2 td:first-child {
            width: 55%;
        }

        .tr2 td:last-child {
            width: 45%;
        }

        .tr3 td:first-child {
            width: 55%;
        }

        .tr3 td:nth-child(2) {
            width: 25%;
        }

        .tr3 td:last-child {
            width: 20%;
        }

    </style>
    <title>Skattegrunnlag</title>
</head>
<body>
{{#if søkers}}
    <h1>Skattegrunnlag for {{søkers.fnr}}</h1>
    {{> supdfgen/skattemelding/forNav this.forNav}}

    {{> supdfgen/skattemelding/personopplysninger this.søkers}}
    {{> supdfgen/skattemelding/årsgrunnlag this.søkers}}

{{/if}}


{{#if eps}}
    {{#if søkers}} <div class="pagebreak"></div> {{/if}}
    <h1>Skattegrunnlag for {{eps.fnr}}</h1>
    {{> supdfgen/skattemelding/personopplysninger this.eps}}
    {{> supdfgen/skattemelding/årsgrunnlag this.eps}}
{{/if}}



<p>Beskrivelse av teknisk navn kan man finne hos <a
        href="https://skatteetaten.github.io/api-dokumentasjon/api/spesifisertsummertskattegrunnlag?tab=Informasjonsmodell" title="Lenke til mer detaljert beskrivelse av skattekoder">Skatteetaten</a>
</p>
</body>
</html>
