<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }

        body {
            page-break-inside: avoid;
        }

        table {
            width: 100%;
            border: 2px #c9c9c9 solid;
            padding-bottom: 0.8cm;
            margin-bottom: 0.7cm;
            border-collapse: collapse;
        }

        thead tr th, thead tr td {
            position: relative;
            padding: 0.3cm 0.5cm;
            border-bottom: 2px #c9c9c9 solid;
        }

        thead tr td h4 {
            font-size: 110%;
            font-weight: 500;
            display: inline;
        }

        thead td img, thead th img {
            position: relative;
            margin-right: 0.1cm;
            height: 0.5cm;
            width: 0.5cm;
        }

        tbody tr:last-child td {
            padding-bottom: 0.8cm;
        }

        tbody tr:first-child td {
            padding-top: 0.2cm;
        }

        td {
            font-size: 0.9em;
            vertical-align: top;
            word-wrap: break-word;
            padding: 0 0.3cm 0 0.5cm;
        }

        .tr2 td:first-child {
            width: 55%;
        }
        .tr2 td:last-child {
            width: 45%;
        }

        .tr3 td:first-child {
            width: 55%;
        }

        .tr3 td:nth-child(2) {
            width: 25%;
        }
        .tr3 td:last-child {
            width: 20%;
        }

    </style>
    <title>Skattegrunnlag</title>
</head>
<body>
<h1>Skattegrunnlag for {{fnr}}</h1>
{{> supdfgen/skattemelding/forNav this.forNav}}

{{> supdfgen/skattemelding/personopplysninger
        personopplysninger=this.personopplysninger
}}

{{#each this.årsgrunnlag}}
    <h2>{{år}} - {{stadie}}</h2>

    {{#eq stadie "Oppgjør"}}
        <p>Oppgjørsdato: {{> supdfgen/skattemelding/valueOrDash oppgjørsdato}}</p>
    {{/eq}}
    {{> supdfgen/skattemelding/skattedelUtenKategori tittel="Summert formue" grunnlag=formue}}
    {{> supdfgen/skattemelding/skattedelUtenKategori tittel="Summert formuesfradrag" grunnlag=formuesfradrag}}
    {{> supdfgen/skattemelding/skattedelUtenKategori tittel="Summert inntekt" grunnlag=inntekt}}
    {{> supdfgen/skattemelding/skattedelUtenKategori tittel="Summert inntektsfradrag" grunnlag=inntektsfradrag}}
    {{> supdfgen/skattemelding/skattedelUtenKategori tittel="Summert verdsettingsrabatts som gir gjeldsreduksjon" grunnlag=verdsettingsrabattSomGirGjeldsreduksjon}}
    {{> supdfgen/skattemelding/skattedelUtenKategori tittel="Summert oppjustering av eierinntekter" grunnlag=oppjusteringAvEierinntekter}}
    {{> supdfgen/skattemelding/skattedelMedKategori tittel="Summert annet" grunnlag=annet}}
    {{> supdfgen/skattemelding/spesifiseringKjøretøy kjøretøy}}
{{/each}}

<p>Beskrivelse av teknisk navn kan man finne hos <a
        href="https://skatteetaten.github.io/api-dokumentasjon/api/spesifisertsummertskattegrunnlag?tab=Informasjonsmodell">Skatteetaten</a>
</p>
</body>
</html>
