<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }

        td {
            font-size: 0.9em;
            vertical-align: top;
            word-wrap: break-word;
            padding: 0 0.3cm 0 1cm;
        }

        table {
            width: 100%;
            border: 2px #c9c9c9 solid;
            padding-bottom: 0.8cm;
            margin-bottom: 0.7cm;
            border-collapse: collapse;
        }


        tbody tr:last-child td {
            padding-bottom: 0.8cm;
        }

        tbody tr:first-child td {
            padding-top: 0.2cm;
        }

        thead tr th, thead tr td {
            border-bottom: 2px #c9c9c9 solid;
            padding: 0.3cm 1cm;
            position: relative;
        }

        thead td img, thead th img {
            position: absolute;
            left: 0.25cm;
            top: 0.3cm;
            height: 0.5cm;
            width: 0.5cm;
        }

        td h4 {
            margin: 0;
            font-size: 110%;
            font-weight: 500;
        }

        /* er i bruk*/
        .tr50 {
            box-sizing: border-box;
            width: 50%;
        }

        .signaturHeader {
            margin-bottom: 3em;
        }

        body {
            page-break-inside: avoid;
        }

    </style>
    <title>Søknad</title>
</head>
<body>

{{> supdfgen/soknadPartials/forNav søknadInnhold.forNav}}

{{> supdfgen/soknadPartials/personopplysninger
        personopplysninger=søknadInnhold.personopplysninger
        boforhold=søknadInnhold.boforhold
}}

{{#with søknadInnhold.uførevedtak}}
    {{> supdfgen/soknadPartials/uforevedtak }}
{{/with}}

{{#with søknadInnhold.flyktningsstatus}}
    {{> supdfgen/soknadPartials/flyktningstatusOgOppholdstillatelse
            flyktningsstatus=søknadInnhold.flyktningsstatus
            oppholdstillatelse=søknadInnhold.oppholdstillatelse
    }}
{{/with}}

{{#with søknadInnhold.harSøktAlderspensjon}}
    {{> supdfgen/soknadPartials/alderspensjon }}
{{/with}}

{{#with søknadInnhold.oppholdstillatelseAlder}}
    {{> supdfgen/soknadPartials/oppholdstillatelseAlder
            oppholdstillatelseAlder=søknadInnhold.oppholdstillatelseAlder
            oppholdstillatelse=søknadInnhold.oppholdstillatelse
    }}
{{/with}}

{{> supdfgen/soknadPartials/boforhold søknadInnhold.boforhold}}

{{> supdfgen/soknadPartials/formue søknadInnhold.formue}}
{{> supdfgen/soknadPartials/inntektOgPensjon søknadInnhold.inntektOgPensjon}}


{{#with søknadInnhold.boforhold}}
    {{#eq this.delerBoligMed "EKTEMAKE_SAMBOER"}}
        {{> supdfgen/soknadPartials/epsFormue søknadInnhold.ektefelle.formue}}
        {{> supdfgen/soknadPartials/epsInntektOgPensjon søknadInnhold.ektefelle.inntektOgPensjon}}
    {{/eq}}
{{/with}}

{{> supdfgen/soknadPartials/utenlandsopphold søknadInnhold.utenlandsopphold}}

<div>
    <p class="signaturHeader">Signatur, {{navn.fornavn}} {{navn.mellomnavn}} {{navn.etternavn}}
        , {{dagensDatoOgTidspunkt}}</p>
    <p>--------------------------------------------------</p>
</div>


</body>
</html>
