{{#> supdfgen/partials/base}}
    <div class="mainContent">
        <h3>Søknaden din om supplerende stønad er trukket</h3>
        {{> supdfgen/partials/fnr personalia }}

        <p>
            Nav viser til søknaden din om supplerende stønad mottatt {{datoSøknadOpprettet}}.
            Du har i henvendelse av {{trukketDato}} opplyst at du ønsker å trekke søknaden.
        </p>
        <p>
            Vi vil med dette bekrefte at søknaden om supplerende stønad er trukket, og ikke vil bli ytterligere
            behandlet.
        </p>
        <p>
            Du må levere ny søknad hvis du på et senere tidspunkt likevel ønsker å søke supplerende stønad.
        </p>
        <p>
            Supplerende stønad kan innvilges inntil 3 måneder forut for søknadstidspunktet hvis vilkårene var oppfylt i
            hele denne perioden. Ved en ny søknad blir den nye søknaden utgangspunktet for det tidspunktet du kan
            innvilges supplerende stønad fra.
        </p>
        <p>
            Vi gjør oppmerksom på at du etter forvaltningsloven § 18 har rett til å se sakens dokumenter.
        </p>
        <p>
            Skulle du ha spørsmål, er du velkommen til å kontakte oss på telefon
            {{#if erAldersbrev}}
                55 55 33 34.
            {{else}}
                55 55 33 33.
            {{/if}}
        </p>
        <p>
            Husk at du også kan finne mer informasjon på våre hjemmesider nav.no.
        </p>
    </div>

    {{> supdfgen/partials/hilsen saksbehandler=saksbehandlerNavn }}
{{/supdfgen/partials/base}}