{{#> supdfgen/partials/innvilgelseBase}}
    <div class="mainContent">
        <h2>Du får supplerende stønad</h2>

        <div class="info">
            <p>
                Du får supplerende stønad fra {{fradato}} til og med {{tildato}} fordi du er ufør flyktning. Du kan søke på nytt i {{tildato}}.
            <p>

            <p>
                Vedtaket er gjort etter lover om supplerende stønad til personer med kort botid i Norge, §§ 3, 5, 6 og 7.
            <p>
        </div>

        {{> supdfgen/partials/beregning beregningsperioder }}

    </div>

{{/supdfgen/partials/innvilgelseBase}}