{{#> supdfgen/partials/avslagBase}}
    <div class="mainContent">
        <h2>Ny behandling førte ikke til endring av stønaden</h2>
        {{> supdfgen/partials/fnr personalia }}

        <p>Vi har vurdert stønaden din ut fra de nye opplysningene. Dette førte ikke til en endring som er større enn 10 prosent av stønaden din før skatt.
        Dette er et vilkår for å kunne endre, jfr. § 10 i Lov om supplerende stønad.</p>

        <div class="info">
            <p class="fritekst">{{fritekst}}</p>
        </div>

        {{> supdfgen/partials/beregning beregningsperioder }}

    </div>

{{/supdfgen/partials/avslagBase}}