{{#> supdfgen/partials/avslagBase}}
    <div class="mainContent">
        <h2>Vi har vurdert den supplerende stønaden din på nytt, men revurderingen førte ikke til endringer i din utbetaling</h2>
        {{> supdfgen/partials/fnr personalia }}

        <div class="info">
            <p class="fritekst">{{fritekst}}</p>
        </div>

        {{> supdfgen/partials/beregning beregningsperioder }}

    </div>

{{/supdfgen/partials/avslagBase}}