{{#> supdfgen/partials/avslagBase}}
    <li class="mainContent">
        <h2>Vi har avslått søknaden din om supplerende stønad</h2>

        <p>Du har ikke rett til supplerende stønad fordi:</p>

        <ul class="avslagsgrunnContainer">
            {{#each avslagsgrunner}}
                {{#eq this "UFØRHET" }}
                    <li>Vi har tidligere avslått søknaden din om uføretrygd.</li>
                {{/eq}}

                {{#eq this "FLYKTNING" }}
                    <li>Du har ikke status som flyktning etter § 28 i Utlendingsloven.</li>
                {{/eq}}

                {{#eq this "OPPHOLDSTILLATELSE" }}
                    <li>Du har ikke lovlig opphold i Norge.</li>
                {{/eq}}

                {{#eq this "BOR_OG_OPPHOLDER_SEG_I_NORGE" }}
                    <li>Du er ikke registrert bosatt i Norge.</li>
                {{/eq}}

                {{#eq this "INNLAGT_PÅ_INSTITUSJON" }}
                    <li>Du oppholder deg på institusjon.</li>
                {{/eq}}

                {{#eq this "UTENLANDSOPPHOLD_OVER_90_DAGER" }}
                    <li>Du skal oppholde deg utenfor Norge i mer enn 90 dager.</li>
                {{/eq}}

                {{#eq this "FORMUE" }}
                    <li>
                        {{#if harEktefelle}}
                            <span>Du og ektefellen/samboeren din har formue som til sammen overstiger halvparten av folketrygdens grunnbeløp.</span>
                        {{else}}
                            <span>Formuen din overstiger halvparten av grunnbeløpet, som for tiden er {{currency_no halvGrunnbeløp true}} kr.</span>
                        {{/if}}
                        <span>
                            Hvis formuen blir mindre kan du søke om supplerende stønad på nytt. Da må du dokumentere at
                            formuen din er redusert. Du kan ikke gi bort formuen din for å få rett til supplerende stønad.
                        </span>
                    </li>
                {{/eq}}

                {{#eq this "PERSONLIG_OPPMØTE" }}
                    <li>Du møtte ikke personlig og har ikke sendt inn nok dokumentasjon på hvorfor du ikke møtte.</li>
                {{/eq}}

                {{#eq this "FOR_HØY_INNTEKT" }}
                    <li>
                        {{#if harEktefelle}}
                            <span>Du og ektefellen/samboeren din har til sammen for høy inntekt.</span>
                        {{else}}
                            <span>Du har for høy inntekt.</span>
                        {{/if}}
                        <span>
                            Inntekten er høyere enn det du kan få i supplerende stønad.
                        </span>
                    </li>
                {{/eq}}

                {{#eq this "SU_UNDER_MINSTEGRENSE" }}
                    <li>
                        <span>Beløpet er under 2% av det du kan få i supplerende stønad.</span><br/>
                    </li>
                {{/eq}}
            {{/each}}
        </ul>

    {{#if beregningsperioder }}
        {{> supdfgen/partials/beregning beregningsperioder }}
    {{/if}}

        <span>
        Vedtaket er gjort etter loven om supplerende stønad for personer med kort botid i Norge §§ {{> supdfgen/partials/commaSeparate avslagsparagrafer}}.
    </span>

{{/supdfgen/partials/avslagBase}}
