{{#> supdfgen/partials/avslagBase}}
    <div class="mainContent">
        <h2>Vi har avslått søknaden din om supplerende stønad</h2>

        {{#if harFlereAvslagsgrunner}}
            <p>Du har ikke rett til supplerende stønad fordi:</p>
            {{> supdfgen/partials/flereAvslagsgrunner}}
        {{else}}
            {{> supdfgen/partials/ettAvslagsgrunn}}
        {{/if}}
    </div>
{{/supdfgen/partials/avslagBase}}