{{#> supdfgen/partials/avslagBase}}
    <div class="mainContent">
        <h3>Vi har avslått søknaden din om supplerende stønad</h3>

        {{#eq avslagsgrunnerLength "1"}}
            {{> supdfgen/partials/ettAvslagsgrunn}}
        {{/eq}}

        {{#not_eq avslagsgrunnerLength "1"}}
            <p>Du har ikke rett til supplerende stønad fordi:</p>
            {{> supdfgen/partials/flereAvslagsgrunner}}
        {{/not_eq}}
    </div>
{{/supdfgen/partials/avslagBase}}