<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8" />
    <style>
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }

        @page {
            @bottom-right {
                font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
                font-size: 15px;
                content: "side "counter(page) " av "counter(pages);
            }
        }

        .paragraphHeading {
            display: block;
            font-weight: bold;
        }

        .paragraphText{
            display: block;
            padding-bottom: 16px;
        }

        .navLogo {
            height: 75px;
            width: 125px;
        }

        .header {
            margin-bottom: 2em;
        }

        .personalia {
            clear: both;
            padding-bottom: 1em;
        }

        .personInfoMainContent p {
            padding: 0;
            margin: 0;
            font-size: 12px;
            color: grey;
        }

        .hilsen p {
            padding: 0;
            margin: 0;
        }
    </style>
    <title>Supplerende stønad</title>
</head>

<body>
    <div class="main">
        <div class="header">
            <div style="float:right">
                <img class="navLogo" src="{{image "Navlogo.png"}}">
                <p>Dato: {{dato}}</p>
            </div>

            <div class="personalia">
                <p>{{fornavn}} {{etternavn}}</p>
            </div>
        </div>

        {{> @partial-block}}

    </div>
</body>

</html>
