<div>
    <div class="pagebreak"/>
    <h2>Viktig informasjon om supplerende stønad til deg som er
        {{#if erAldersbrev}}
            over 67 år og har kort botid i Norge
        {{else}}
            ufør flyktning
        {{/if}}</h2>

    <div class="info">
        <h3>Du må møte på ditt lokale NAV-kontor</h3>
        <p>Stønadsperioden for supplerende stønad gis som hovedregel for 12 måneder.
            Du må møte på NAV-kontoret hver gang du skal søke om ny stønadsperiode.</p>
    </div>

    <div class="info">
        <h3>Du blir innkalt til to møter</h3>
        <p>Vi gjennomfører to kontrollsamtaler i løpet av de 12 månedene du får stønaden fordi vi vil være sikre på at
            du oppholder deg i Norge. Vi må også være sikre på at du fortsatt har rett til stønaden.</p>

        <p>Vi kaller deg inn til denne samtalen i god tid før du skal møte. Hvis du ikke møter uten å gi oss beskjed,
            stopper vi stønaden. Hvis du ikke kan møte av helsemessige grunner, må du dokumentere dette.</p>
    </div>

    <div class="info">
        <h3>Du må også melde fra om endringer som kan ha betydning for stønaden din</h3>
        <p>Dette må melde fra om hvis du:</p>
        <ul>
            <li>Skal være i en institusjon, for eksempel sykehus, rehabilitering, eller fengsel</li>
            <li>Begynner å dele bolig med en annen voksen person eller flytter fra en annen voksen</li>
            <li>Endrer sivilstatus, for eksempel ekteskap, separasjon eller skilsmisse</li>
            <li>Endrer adresse</li>
            <li>Får pensjon eller andre ytelser fra utlandet</li>
            <li>Får endret inntekt som for eksempel arbeidsinntekt, pensjon eller andre ytelser. Dette gjelder både
                utenlandske og norske inntekter og ytelser
            </li>
            <li>Har formue over halvparten av folketrygdens grunnbeløp. Du kan lese mer om grunnbeløpet på
                <a>www.nav.no</a>
            </li>
        </ul>

        <p>Formue er eiendommer, kontanter, innskudd i norske eller utenlandske banker, omsettelige aksjer,
            obligasjoner, andeler i verdipapirfond, andre omsettelige verdipapirer og utestående fordringer. Har du
            gjeld, er ikke dette med i vurderingen vår. Egen primærbolig og en bil regnes ikke som formue.</p>

        <p>Du må opplyse om all formue og inntekt i Norge og utlandet. Hvis du ikke opplyser om formuen eller inntekten
            din, kan du få penger du ikke har rett til. Da stopper vi stønaden din og vi krever tilbake penger du ikke
            skulle fått.</p>
    </div>

    <div class="pagebreak" />
    <div class="info">
        <h3>Hvis du har, eller får, ektefelle eller samboer</h3>
        <p>Du må opplyse om all formue og inntekt i Norge og utlandet også for ektefellen eller samboeren din. Formuen
            og inntekten til ektefellen eller samboeren din har betydning for om du har rett til stønad, eventuelt
            størrelsen på stønaden din.</p>
    </div>

    <div class="info">
        <h3>Du må melde fra om endringer for å unngå feilutbetaling</h3>
        <p>Du må melde fra om alle endringer som kan ha betydning for retten din til stønad eller hvor mye du får i
            stønad. Hvis du ikke forteller om endringene, stopper vi utbetalingen av stønaden din. Du kan også få krav
            om tilbakebetaling.</p>

        <p>Hvis du ikke opplyser om formuen eller inntekten din, kan du få penger du ikke har rett til. Da stopper vi
            stønaden din og vi krever tilbake penger du ikke skulle fått.</p>
    </div>

    <div class="info">
        <h3>Generell informasjon</h3>
        <p>Du får denne stønaden uavhengig av statsborgerskapet ditt. Blir du norsk statsborger i løpet av stønadstiden,
            er vilkårene de samme som før du ble norsk statsborger.</p>
    </div>

    <div class="info">
        <h3>Frikort</h3>
        <p>Alle som får supplerende stønad slipper å betale egenandel for medisiner, næringsmidler og medisinsk
            forbruksmateriell på blå resept. Apotek/bandasjist kan sjekke at du har rett til egenandelsfritaket. Du må
            betale egenandeler for andre helsetjenester under frikortordningen, for eksempel legebesøk, fysioterapi
            etc.</p>
    </div>

    <div class="info">
        <h3>Skattekort</h3>
        <p>Hvis du ikke har skattekort, må du ta kontakt med Skatteetaten. Har du skattekort og ønsker å endre det, kan
            du kontakte Skatteetaten.</p>
    </div>

    <div class="info">
        <h3>Honnørkort</h3>
        <p>Du har rett til honnørrabatt på offentlig kommunikasjon når du reiser i Norge. Hvis du ikke allerede har
            honnørkortet, vil du få dette kortet i posten.</p>
    </div>

    <div class="info">
        <h3>Kontakt oss</h3>
        <p>Du finner mer informasjon på <a> www.nav.no</a>. Her kan du sende melding eller spørsmål til oss. Hvis du
            trenger tolkebistand så kan du kontakte oss på telefon 55 55 33 33 for å bestille timeavtale.</p>
    </div>
</div>