<div class="info">
    <h3>Du har rett til å klage</h3>
    <p>
        Du kan klage innen seks uker fra den datoen du mottok vedtaket. Du finner skjema og informasjon på <a>www.nav.no/klage</a>.
    </p>
</div>

<div class="info">
    <h3>Du har rett til innsyn</h3>
    <p>
        På <a>www.nav.no/dittnav</a> kan du se dokumentene i saken din.
    </p>
</div>

<div class="info">
    <h3>Har du spørsmål?</h3>
    <p>
        Du finner nyttig informasjon på
        {{#if erAldersbrev}}
            <a>www.nav.no/supplerende</a>.
        {{else}}
            <a>www.nav.no/supplerendeuf</a>.
        {{/if}}
        <br/>
        Du kan også kontakte oss på 55 55 33 33.
    </p>
</div>