<div class="shortSpacedInfo">
    <h3>Du har rett til å klage</h3>
    <p>
        Du kan klage innen 6 uker fra den datoen du mottok vedtaket. Du finner skjema og informasjon på <a
            title="Lenke til klageskjema">www.nav.no/klage</a>.
    </p>
    {{#if extraVedtaksInfo}}
        <p>{{extraVedtaksInfo}}</p>
    {{/if}}
</div>

<div class="info">
    <h3>Du har rett til innsyn</h3>
    <p>
        På <a title="Lenke til din side på nav.no">www.nav.no/minside</a> kan du se dokumentene i saken din.
    </p>
</div>

{{> supdfgen/partials/harDuSpørsmål }}