<div class="hilsen">
    <p>
        Med vennlig hilsen <br/>
        {{#if saksbehandler}}
            {{saksbehandler}}
            {{#if attestant}}
                {{#not_eq saksbehandler attestant}} og {{attestant}}{{/not_eq}}
            {{/if}} hos
        {{/if}}
        NAV Familie- og pensjonsytelser Ålesund <br/>
        <br />
        Postadresse:<br />
        NAV Skanning<br />
        Postboks 1402<br />
        0109 OSLO
        Norge / Norway
    </p>
</div>