<div class="hilsen">
    <p>
        Med vennlig hilsen <br/>
        {{#if saksbehandler}}
            {{saksbehandler}}
            {{#if attestant}}
                {{#not_eq saksbehandler attestant}} og {{attestant}}{{/not_eq}}
            {{/if}} hos
        {{/if}}
        Nav Familie- og pensjonsytelser Ålesund <br/>
    {{#unless ikkeVisPostadresse}}
        <br />
        Postadresse:<br />
        Nav Skanning<br />
        Postboks 1402<br />
        0109 OSLO<br />
        Norge / Norway
        {{/unless}}

    </p>
</div>