{{#> supdfgen/partials/base}}
{{> @partial-block}}

<div>
    <span class="paragraphHeading">VIKTIG INFORMASJON</span>
    <span class="paragraphText">
        Du kan ikke oppholde deg utenfor Norge i mer enn 90 dager til sammen i denne stønadsperioden.
        Opphold i utlandet må dokumenteres med norske stempel i pass eller boardingpass.
        Du må melde fra til NAV om planlagt ut- og innreisedato før du reiser til utlandet.
    </span>
    <span class="paragraphText">
        Bryter du disse reglene kan stønaden din opphøre. Du kan også få krav om å betale tilbake penger.
    </span>
    <span class="paragraphText">
        Vi kaller deg inn til møte på ditt lokale NAV-kontor to ganger i stønadsperioden.
        Dersom du ikke møter uten gyldig grunn, stanser vi stønaden din.
    </span>
</div>


<div>
    <span class="paragraphHeading">DU MÅ MELDE FRA OM ENDRINGER</span>
    <span class="paragraphText">
        Dersom det skjer endringer som kan ha betydning for stønaden du får utbetalt, må du straks melde fra til NAV. Du finner mer informasjon på nav.no/rettogplikt.
    </span>
</div>

<div>
    <span class="paragraphHeading">DU MÅ MELDE FRA OM ENDRINGER</span>
    <span class="paragraphText">
        Dersom det skjer endringer som kan ha betydning for stønaden du får utbetalt, må du straks melde fra til NAV. Du finner mer informasjon på nav.no/rettogplikt.
    </span>
</div>

<div>
    <span class="paragraphHeading">DU HAR RETT TIL INNSYN</span>
    <span class="paragraphText">
        På nav.no/DittNAV kan du se dokumentene i saken din.
    </span>
</div>

<div>
    <span class="paragraphHeading">SJEKK UTBETALINGENE DINE</span>
    <span class="paragraphText">
        Sjekk alle utbetalingene du har mottatt på nav.no/DittNAV. Her kan du også endre kontonummeret ditt.
    </span>
</div>

<div>
    <span class="paragraphHeading">HAR DU SPØRSMÅL?</span>
    <span class="paragraphText">
        Du finner nyttig informasjon på nav.no/supplerende.<br />
        Du kan også kontakte oss på 55 55 33 34.
    </span>
</div>

<div class="hilsen">
    <p>
        Med vennlig hilsen <br />
        NAV Familie- og pensjonsytelser Ålesund
    </p>
</div>
{{/supdfgen/partials/base}}
