<ul>
    {{#each opphørsgrunner}}
        {{#eq this "UFØRHET"}}
            <li>
                <p>
                    Vi har mottatt opplysninger om at uføretrygden din er opphørt etter paragrafene 12-4 til
                    12-7. Vi har derfor opphørt din supplerende stønad som ufør flyktning.
                </p>
            </li>
        {{/eq}}

        {{#eq this "FOR_HØY_INNTEKT"}}
            {{#if harEktefelle}}
                <li>
                    Nye opplysninger viser at inntekten du og ektefellen/samboeren din har til sammen er for
                    høy. Vi har derfor opphørt din supplerende stønad som ufør flyktning.
                </li>
            {{else}}
                <li>
                    Nye opplysninger viser at du har for høy inntekt. Vi har derfor opphørt din supplerende
                    stønad som ufør flyktning.
                </li>
            {{/if}}
        {{/eq}}
        {{#eq this "SU_UNDER_MINSTEGRENSE" }}
            <li>
                <p>
                    Nye opplysninger viser at inntekten din er økt. Ny beregning av av stønaden viser at den er
                    for lav til at den kan utbetales.
                    Vi kan ikke utbetale stønad som er under to prosent av den høyeste stønadssatsen. Vi har
                    derfor opphørt din supplerende stønad som ufør flyktning.
                </p>
            </li>
        {{/eq}}
        {{#eq this "UTENLANDSOPPHOLD" }}
            <li>
                <p>
                    Nye opplysninger viser at du har vært eller planlegger å være mer enn 90 dager i utlandet.
                    Vi har derfor opphørt din supplerende stønad som ufør flyktning.
                </p>
            </li>
        {{/eq}}
        {{#eq this "FORMUE" }}
            {{#if harEktefelle}}
                <li>
                    <p> Nye opplysninger viser at formuen du og ektefellen/samboeren din har til sammen er mer
                        enn halvparten av folketrygdens grunnbeløp.
                        For tiden er dette {{halvGrunnbeløp}} kroner. Vi har derfor opphørt din supplerende
                        stønad som ufør flyktning.
                    </p>
                </li>
            {{else}}
                <li>
                    <p>Nye opplysninger viser at formuen din er mer enn halvparten av grunnbeløpet, som for
                        tiden er {{halvGrunnbeløp}} kroner. Vi har derfor opphørt din supplerende stønad som
                        ufør flyktning.</p>
                    <p> Hvis formuen din blir mindre, kan du søke om supplerende stønad på nytt.
                        Du kan ikke gi bort formuen din for å få rett til supplerende stønad.
                        Derfor må du dokumentere hva du har brukt formuen til hvis du søker på nytt.</p>
                </li>
            {{/if}}
        {{/eq}}

        {{#eq this "MANGLENDE_DOKUMENTASJON" }}
            <li>
                <p>
                    Du har ikke levert nødvending dokumentasjon for at vi kan vurdere om du fortsatt har rett til supplerende stønad.
                </p>
            </li>
        {{/eq}}

        {{#eq this "FLYKTNING" }}
            <li>
                <p>
                    Nye opplysninger viser at du ikke er registrert som flyktning etter utlendingslova §28. Vi har
                    derfor opphørt din stønad som ufør flyktning.
                </p>
            </li>
        {{/eq}}

        {{#eq this "OPPHOLDSTILLATELSE"}}
            <li>
                <p>
                    Nye opplysninger viser at du ikke har lovlig opphold i Norge. Vi har derfor opphørt din stønad som
                    ufør flyktning.
                </p>
            </li>
        {{/eq}}

        {{#eq this "BOR_OG_OPPHOLDER_SEG_I_NORGE"}}
            <li>
                <p>
                    Nye opplysninger viser at du ikke oppholder deg fast i Norge. Vi har derfor opphørt din stønad som
                    ufør flyktning.
                </p>
            </li>
        {{/eq}}

        {{#eq this "PERSONLIG_OPPMØTE"}}
            <li>
                <p>
                    Nye opplysninger viser at du ikke møtte personlig når du søkte om supplerende stønad eller ved
                    kontrollsamtale. Vi har derfor opphørt din stønad som ufør flykting.
                </p>
            </li>
        {{/eq}}

        {{#eq this "INNLAGT_PÅ_INSTITUSJON"}}
            <li>
                <p>
                    Nye opplysninger viser at du er innlagt på institusjon. Vi har derfor opphørt din stønad som ufør flykting.
                </p>
            </li>
        {{/eq}}

    {{/each}}
</ul>