<table>
    <thead>
    <tr>
        <td>
            <img src="{{image "Office1.png"}}"/>
            <h4>For NAV</h4>
        </td>
        <td></td>
    </tr>
    </thead>

    <tbody>
    <tr class="tr2">
        <td>Saksnummer:</td>
        <td>{{saksnummer}}</td>
    </tr>
    <tr class="tr2">
        <td>Søknadsbehadling-id:</td>
        <td>{{søknadsbehandlingId}}</td>
    </tr>
    <tr class="tr2">
        <td>Hentet dato:</td>
        <td>{{hentetDato}}</td>
    </tr>
    </tbody>
</table>

