{{#if kjøretøy}}
    <h3>Spesifisert kjøretøy</h3>
    {{#each this}}
        <table>

            <tbody>
            <tr class="tr2">
                <td>Beløp:</td>
                <td>{{> supdfgen/skattemelding/valueOrDash beløp}}</td>
            </tr>
            <tr class="tr2">
                <td>Registreringsnummer:</td>
                <td>{{> supdfgen/skattemelding/valueOrDash registreringsnummer}}</td>
            </tr>
            <tr class="tr2">
                <td>Fabrikatnavn:</td>
                <td>{{> supdfgen/skattemelding/valueOrDash fabrikatnavn}}</td>
            </tr>
            <tr class="tr2">
                <td>År for førstegangsregistrering:</td>
                <td>{{> supdfgen/skattemelding/valueOrDash årForFørstegangsregistrering}}</td>
            </tr>
            <tr class="tr2">
                <td>Formuesverdi:</td>
                <td>{{> supdfgen/skattemelding/valueOrDash formuesverdi}}</td>
            </tr>
            <tr class="tr2">
                <td>Antatt verdi som nytt:</td>
                <td>{{> supdfgen/skattemelding/valueOrDash antattVerdiSomNytt}}</td>
            </tr>
            <tr class="tr2">
                <td>Antatt markedsverdi:</td>
                <td>{{> supdfgen/skattemelding/valueOrDash antattMarkedsverdi}}</td>
            </tr>
            </tbody>
        </table>
    {{/each}}
{{/if}}