<table>
    <thead>
    <tr>
        <td class="tr50"><h4>Alderspensjon</h4></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Har du søkt om alderspensjon og fått svar på søknaden?</td>
        <td>{{#if harSøktAlderspensjon}} Ja {{else}} Nei {{/if}}</td>
    </tr>
    </tbody>
</table>