<table>
    <thead>
    <tr>
        <td class="tr50"><img src="{{image "Email.png"}}" alt="konvolutt"/><h4>Uførevedtak</h4></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Har du fått svar på søknaden din om uføretrygd?</td>
        <td>{{#if harUførevedtak}} Ja {{else}} Nei {{/if}}</td>
    </tr>
    </tbody>
</table>