name: Manuell deploy til prod

on:
  release:
    types: [published]

permissions: {}

jobs:
  deploy_to_prod:
    name: Deploy to prod
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # needed for push-image
    steps:
      -  uses: actions/checkout@v6
      -  uses: nais/deploy/actions/deploy@v2
         env:
           VAR: image=europe-north1-docker.pkg.dev/nais-management-233d/supstonad/su-pdfgen:${{ github.sha }}
           CLUSTER: prod-fss
           RESOURCE: nais.yml
